<%= form_for events do |form| %>
<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :location %>
  <%= form.text_field :location %>
</p>

<p>
  <%= form.label :date %>
  <%= form.text_field :date %>
</p>

<p>
  <%= form.label :capacity %>
  <%= form.text_field :capacity %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>
