<% form_for location do |form| %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :image %>
    <%= form.text_field :image %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
